html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 64px;

}

#score {
    position: absolute;
    top: 800px;
    

}

#mybackground {
    min-width: 100%;
    max-width: 100%;


    
}


.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .backgroundpic {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  
  .logo {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 50%;
    max-height: 50%;

  }

  .scoreb {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 100%;

  }

#logo{

    top: 300px;
    left: 300px;
    
    position: absolute;
}
